@import '../../../style/variables';

.hello {
	padding: 0 30px;
	display: grid;

	align-items: center;
	justify-content: center;

	grid-template: repeat(2, auto) / repeat(2, auto);
	gap: 81px 130px;
	&__bg {
		position: absolute;
		z-index: -1;
		&_green {
			left: -200px;
			top: -250px;
		}
		&_blue {
			top: 0px;
			left: 50px;
		}
	}
	&__titles {
		align-self: flex-end;
	}
	&__subtitle {
		color: $title-color;
		font-size: 18px;
		font-weight: 400;
	}
	&__title {
		color: $title-color;
		font-size: 62px;
		font-weight: 400;
	}
	&__title-descr {
		color: #4D5BCE;
		font-size: 32px;
	}
	&__descrs {
		align-self: start;
	}
	&__descr {
		color: $comment-color;
		font-weight: 500;
		font-size: 16px;
	}
	&__link {
		font-weight: 500;
		color: #fff;
		
		position: relative;
		z-index: 10;
		.const {
			color: #4D5BCE;
			&-name {
				color: #43D9AD;
			}
			&-value {
				color: #E99287;
			}
		}
	}
}