@import '../../../../style/variables.scss';

@mixin btn-style {
	width: 100%;
	text-align-last: left;
	color: $main-text-color;

	transition: .3s all;
	&:hover {
		color: $link-active-color;
	}
}

.folders {
	border-right: 1px solid $border-color;
	border-left: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	&__item {
		transition: .3s all;
		max-height: 22.2px;
		overflow: hidden;
		.folders__btn-arrow {
			transition: .3s all;
		}
		&.active {
			.folders__btn-arrow {
				transform: rotate(90deg);
			}
		}
	}
	&__current {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 11px;
		width: 100%;

		color: $link-active-color;
		padding: 10px 0 10px 15px;
		border-bottom: 1px solid $border-color;
	}
	&__list {
		padding: 22px 0 20px 12px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 9px;
	}
	&__btn {
		padding-left: 5px;
		margin-bottom: 9px;
		@include btn-style;
		&-name {
			margin-left: 13px;
			display: inline-flex;
			align-items: center;
			justify-content: start;
			gap: 9px;
		}
	}
	&__folder {
		margin-left: 27px;

		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 9px;
	}
	&__file {
		&-btn {
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 9px;

			@include btn-style;
		}
	}
}