@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

@mixin btn-style {
	width: 100%;
	text-align-last: left;
	color: $main-text-color;

	transition: .3s all;
	&:hover {
		color: $link-active-color;
	}
}

.folders {
	border-bottom: 1px solid $border-color;

	overflow: hidden;
	transition: .3s all;
	&:not(.active) {
		.folders__current-icon {
			transform: rotate(-90deg);
		}
	}
	&__current-icon {
		transition: .3s all;
	}
	&__item {
		transition: .3s all;
		max-height: 22.2px;
		overflow: hidden;
		.folders__btn-arrow {
			transition: .3s all;
		}
		&.active {
			.folders__btn-arrow {
				transform: rotate(90deg);
			}
		}
	}
	&__current {
		@include collapse-block-title;
	}
	&__list {
		padding: 20px 0 20px 12px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 9px;
	}
	&__btn {
		padding-left: 5px;
		margin-bottom: 9px;
		@include btn-style;
		&-name {
			margin-left: 13px;
			display: inline-flex;
			align-items: center;
			justify-content: start;
			gap: 9px;
		}
	}
	&__folder {
		margin-left: 27px;

		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 9px;
	}
	&__file {
		&-btn {
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 9px;

			@include btn-style;
		}
	}
}