@import '../../../style/variables';

.about {
	position: relative;
	padding-left: 68px;

	display: grid;
	grid-template: 40.6px auto / 243px 1fr 1fr;
	&__navlink {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		g {
			transition: .3s all;
		}
		.fill {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	&__navlink.active {
		g {
			opacity: 1;
		}
	}
	&__nav {
		position: absolute;
		top: 54.8px;
		left: 0;
		height: auto;

		padding: 18px 20px 0 24px;

		display: flex;
		flex-direction: column;
		gap: 33px;
	}
	&__files {
		display: flex;
		flex-direction: column;

		grid-row: 1 / 3;
	}
	&__empty {
		border-bottom: 1px solid $border-color;
	}
}