@import '../../style/variables';
@import '../../style/mixins';

.tabs {
	border-bottom: 1px solid $border-color;
	white-space: nowrap;

	overflow-y: hidden;
	overflow-x: auto;
	@include scrollbar;
	&::-webkit-scrollbar {
		height: 10px;
	}
	&__about {
		grid-column: 2 / 3;
	}
	&__item {
		display: inline-block;

		position: relative;
		width: 218px;
		border-right: 1px solid $border-color;
		padding: 10px 0 10px 15px;
		cursor: pointer;
		
		&:hover {
			path {
				fill: $link-active-color;
			}
		}
		path {
			transition: .3s all;
		}
	}
	&__icon {
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}