@import '../../style/variables';
@import '../../style/mixins';

.tabs {
	border-bottom: 1px solid $border-color;
	white-space: nowrap;

	overflow-y: hidden;
	overflow-x: auto;
	@include scrollbar;
	&::-webkit-scrollbar {
		height: 4px;
	}
	&::-webkit-scrollbar-track {
		background: $main-bg-color;
		border-left: none;
	}
	&::-webkit-scrollbar-thumb {
		background: $main-text-color;
		border: 1px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
	}
	&_projects {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
	}
	&__about {
		grid-column: 2 / 3;
	}
	&__item {
		display: inline-block;

		text-align: left;
		color: $main-text-color;
		position: relative;
		min-width: 218px;
		border-right: 1px solid $border-color;
		padding: 10px 40px 10px 15px;
		cursor: pointer;
		
		&:hover {
			path {
				fill: $link-active-color;
			}
		}
		path {
			transition: .3s all;
		}
		&.active {
			color: $link-active-color;
		}
	}
	&__icon {
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;
		transition: .3s all;
		&:hover {
			background: rgba(0, 0, 0, .2);
		}
	}
}