@import '../../../../style/variables';
@import '../../../../style/mixins';

.filters {
	grid-column: 1 / 2;

	display: grid;
	grid-template-rows: 0fr;

	padding: 15px 22px;

	transition: .3s all;
	border-right: 1px solid $border-color;
	&.active {
		grid-template-rows: 1fr;
	}
	&-title {
		@include collapse-block-title;
		border-right: 1px solid $border-color;
		&__arrow {
			transition: .3s all;
			transform: rotate(-90deg);
			&.active {
				transform: rotate(0);
			}
		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		gap: 17px;

		overflow: hidden;
	}
	&__item {
		padding-left: 2px;
		position: relative;

		width: 100%;
		
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 24px;
		&.active {
			.filters__icon {
				opacity: 1;
			}
		}
		&-inner {
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 10px;
		}
		&:hover {
			.filters__input-custom {
				box-shadow: 0 0 0 2px rgba(96, 123, 150, .4);
			}
		}
	}
	&__icon {
		width: 24px;
		height: 24px;
		transition: .3s all;
		opacity: 0.4;
	}
	&__input {
		display: none;
		&-custom {
			position: relative;
			width: 19px;
			height: 19px;
			border-radius: 2px;
			border: 1px solid $main-text-color;
			transition: .3s all;
			&::before {
				content: '';

				position: absolute;
				opacity: 0;

				width: 100%;
				height: 100%;

				background: url('../../../../assets/icons/projectsPage/check.svg') center no-repeat;
				transition: .2s all;
			}
		}
		&:checked ~ .filters__input-custom {
			background: $main-text-color;
		}
		&:checked ~ .filters__input-custom::before {
			opacity: 1;
		}
	}
}

@media (max-width: 1200px) {
	.filters {
		&-title {
			background: $border-color;
			padding: 5px 0 5px 27px;
			border-right: none;
		}
	}
}