@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

@import './variables';
@import './mixins';

@import './tabs';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: 'Fira Code', monospace;
	font-weight: 400;

	color: $main-text-color;
	background-color: $root-bg-color;
}

a {
	text-decoration: none;
	color: $main-text-color;
	&:hover {
		text-decoration: underline;
	}
}

button {
	font-family: 'Fira Code', monospace;
	font-size: 16px;
	border: none;
	background: none;
	cursor: pointer;
}

input, textarea {
	font-family: 'Fira Code', monospace;
	font-size: 16px;
	font-weight: 450;
}

ul {
	list-style-type: none;
}

body {
	background-color: $root-bg-color;
	padding: 69px;

	height: 100vh;
	overflow: hidden;
}

#root {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;

	border-radius: 8px;
	border: 1px solid $border-color;
	background: $main-bg-color;
}

.page {
	height: 100%;
	padding-top: 54.8px;
	padding-bottom: 50.8px;
}