@mixin scrollbar {
	scrollbar-width: 20px;
	scrollbar-color: $border-color $main-bg-color;
	&::-webkit-scrollbar {
		width: 20px;
	}
	&::-webkit-scrollbar-track {
		background: $main-bg-color;
		border-left: 1px solid $border-color;
	}
	&::-webkit-scrollbar-thumb {
		background: $main-text-color;
		border: 4px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
	}
}

@mixin collapse-block-title {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 11px;
	width: 100%;

	color: $link-active-color;
	padding: 10px 0 10px 15px;
	border-bottom: 1px solid $border-color;
}