$main-text-color: #607B96;
$main-bg-color: #011627;
$root-bg-color: #010C15;
$border-color: #1E2D3D;
$link-active-color: #fff;
$link-span-color: #FEA55F;
$title-color: #E5E9F0;
$comment-color: #607B96;
$blue-text-color: #5565E8;
$code-bg-color: #011221;
$btn-bg-color: #1C2B3A;

$code-high-keyword: #C98BDF;
$code-keyword: #E99287;
$code-punctuation: #5565E8;
$code-braquet: #43D9AD;