@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

.projects {
	&__inner {
		padding: 60px 125px;

		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		gap: 40px;
		overflow: auto;

		@include scrollbar;
	}
	&__title {
		color: $blue-text-color;
		font-weight: 700;
		&-descr {
			margin-left: 10px;
			color: $main-text-color;
			font-weight: 400;
		}
	}
	&__item {
		width: 370px;
	}
	&__wrapper {
		margin-top: 15px;
		position: relative;
		border: 1px solid $border-color;
		border-radius: 15px;
	}
	&-filters {
		position: absolute;
		top: 19px;
		right: 19px;

		display: flex;
		align-items: center;
		justify-content: end;
		gap: 10px;
		&__item {
			width: 28px;
			height: 28px;
			background: #86E1F9;

			display: flex;
			align-items: center;
			justify-content: center;
			&_HTML {
				background: $html-bg-icon-color;
			}
			&_CSS {
				background: $css-bg-icon-color;
			}
			&_JS {
				background: $js-bg-icon-color;
			}
			&_React {
				background: $react-bg-icon-color;
			}
			&_Redux {
				background: $redux-bg-icon-color;
			}
			&_TS {
				background: $ts-bg-icon-color;
			}
		}
		&__icon {
			width: 20px;
			height: 20px;
		}
	}
	&__img {
		width: 100%;
		height: 145px;
		img {
			border-radius: 15px 15px 0 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__descr {
		position: relative;
		padding: 24px 32px 93px;
		border-radius: 0 0 15px 15px;
		min-height: 166px;

		border-top: 1px solid $border-color;
		background: $code-bg-color;
		&-text {
			font-size: 18px;
		}
	}
	&__link {
		position: absolute;
		bottom: 32px;
		left: 32px;

		padding: 10px 14px;

		border-radius: 8px;
		background: $btn-bg-color;
		color: $link-active-color;
	}
}

@media (max-width: 1200px) {
	.projects {
		&__name {
			margin: 8px 27px 0;
			color: $link-active-color;
			font-size: 16px;
			font-weight: 400;
			line-height: 140%;
			span {
				color: $main-text-color;
			}
		}
		&__inner {
			padding: 17px 27px;
			justify-content: center;
			gap: 20px;
		}
		&__item {
			min-width: 291px;
		}
	}
}