@import '../../style/variables';

@mixin span-link-active {
	span {
		position: absolute;
		left: 0;
		bottom: 0;

		width: 0%;
		height: 3px;
		background-color: $link-span-color;

		transition: .5s width;
	}
	&.active {
		color: $link-active-color;
		span {
			width: 101%;
		}
	}
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	
	display: grid;
	grid-template: auto / 311px auto 153px;

	border-bottom: 1px solid $border-color;
	transition: .3s all;
	&__name {
		padding: 17px 22px;
		border-right: 1px solid $border-color;
	}
	&__nav {
		display: flex;
	}
	&__link {
		position: relative;
		display: block;
		padding: 17px 23px;

		border-right: 1px solid $border-color;
		@include span-link-active;
		transition: .2s color;
		&:hover {
			text-decoration: none;
			color: $link-active-color;
		}
	}
	&__contact {
		position: relative;

		border-left: 1px solid $border-color;
		padding: 17px 23px;
		
		@include span-link-active;
		transition: .2s color;
		&:hover {
			text-decoration: none;
			color: $link-active-color;
		}
	}
}

@media (max-width: 1200px) {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 17px 22px;
		&__name {
			border-right: none;
			padding: 0;
		}
		&__menu {
			position: absolute;
			top: 0;
			z-index: 100;

			padding-top: 55.6px;

			width: 100%;
			height: 100%;
			background: $main-bg-color;
			&-link {
				color: $link-active-color;
				display: block;
				padding: 17px 18px;
				border-bottom: 1px solid $border-color;
			}
		}
	}
}

.menu-enter {
	opacity: 0;
	transform: translateX(-100%);
}
 
.menu-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: all .3s;
}
 
.menu-exit {
	opacity: 1;
	transform: translateX(0);
}
 
.menu-exit-active {
	opacity: 0;
	transform: translateX(100%);
	transition: all .3s;
}



.header-enter {
	opacity: 0;
	transform: translateY(-100%);
}
 
.header-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: all 300ms;
}
 
.header-exit {
	opacity: 1;
	transform: translateY(0);
}
 
.header-exit-active {
	opacity: 0;
	transform: translateY(-100%);
	transition: all 300ms;
}