@import '../../../../style/variables';
@import '../../../../style/mixins';

.info {
	position: relative;
	grid-row: 2 / 3;
	grid-column: 2 / 3;

	display: flex;
	gap: 14px;
	align-items: start;
	justify-content: center;

	padding: 18px 50px 18px 38px;

	overflow: auto;
	@include scrollbar;
	&__nums {
		text-align: right;
		padding-right: 26px;
		align-self: start;
	}
	&__comments {
		text-align: right;
		align-self: start;
	}
	&__line-comment:last-child {
		position: relative;
		left: 9px;
	}
}

@media (max-width: 1200px) {
	.info {
		display: block;
		margin: 38px 27px 0;
		padding: 0;
		&__title {
			color: $link-active-color;
			font-size: 16px;
			font-weight: 400;
			line-height: 140%;
			span {
				color: $main-text-color;
			}
		}
		&__text {
			margin-top: 17px;
		}
	}
}