@import '../../../../style/variables';
@import '../../../../style/mixins';

.info {
	position: relative;
	grid-row: 2 / 3;
	grid-column: 2 / 3;

	display: flex;
	gap: 14px;
	align-items: start;
	justify-content: center;

	padding: 18px 50px 18px 38px;

	overflow: auto;
	@include scrollbar;
	&__nums {
		text-align: right;
		padding-right: 26px;
		align-self: start;
	}
	&__comments {
		text-align: right;
		align-self: start;
	}
}