.info {
	position: relative;
	grid-row: 2 / 3;
	grid-column: 2 / 3;

	display: flex;
	gap: 14px;
	align-items: start;
	justify-content: center;

	padding: 18px 50px 18px 38px;

	overflow: hidden;
	&__nums {
		text-align: right;
		padding-right: 26px;
	}
	&__comments {
		text-align: right;
	}
}
/* fdsfdf
 * dasfdsf
 */