@import '../../style/variables.scss';

.contacts {
	flex-grow: 1;
	overflow: hidden;
	transition: .3s all;
	&:not(.active) {
		.contacts__btn-icon {
			transform: rotate(-90deg);
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 11px;
		width: 100%;

		color: $link-active-color;
		padding: 10px 0 10px 15px;
		border-bottom: 1px solid $border-color;
		&-icon {
			transition: .3s all;
		}
	}
	&__list {
		padding: 20px 0 0 17px;
	}
	&__item {
		padding-bottom: 8px;
	}
}