@import '../../style/variables.scss';

.contacts {
	overflow: hidden;
	transition: .3s all;
	&.active {
		.contacts__inner {
			grid-template-rows: 1fr;
		}
		.contacts__btn-icon {
			transform: rotate(0);
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 11px;
		width: 100%;

		color: $link-active-color;
		padding: 10px 0 10px 15px;
		border-bottom: 1px solid $border-color;
		&-icon {
			transform: rotate(-90deg);
			transition: .3s all;
		}
	}
	&__inner {
		display: grid;
		grid-template-rows: 0fr;

		padding: 20px 17px;
		transition: .3s all;
	}
	&__list {
		overflow: hidden;
	}
	&__item {
		padding-bottom: 8px;
	}
}