@import '../../style/variables';
@import '../../style/mixins';

.contacts {
	overflow: hidden;
	transition: .3s all;
	&.active {
		.contacts__inner {
			grid-template-rows: 1fr;
			padding: 20px 12px;
		}
		.contacts__btn-icon {
			transform: rotate(0);
		}
	}
	&__btn {
		@include collapse-block-title;
		&-icon {
			transform: rotate(-90deg);
			transition: .3s all;
		}
	}
	&__inner {
		display: grid;
		grid-template-rows: 0fr;

		padding: 0;
		transition: .3s all;
	}
	&__list {
		overflow: hidden;
	}
	&__item {
		position: relative;
		margin-bottom: 8px;
		padding-left: 25px;
		&-icon {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}