@import '../../style/variables';

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	
	display: grid;
	grid-template: auto / 151px auto 161px;

	border-top: 1px solid $border-color;
	&__text {
		padding: 15px 22px;
		border-right: 1px solid $border-color;
	}
	&__links {
		display: flex;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 12.5px 14px;

		border-right: 1px solid $border-color;
	}
	&__user {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;

		border-left: 1px solid $border-color;
		
		transition: .2s color;
		&:hover {
			text-decoration: none;
			color: $link-active-color;
		}
	}
}